@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Trung Tran's Pet Store!</h1>
    <p class="lead">This pet store will allow you to adopt a new friendly pet of your choice.  Do not eat them.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            First, walk into one of our homely stores and demand that you see the shop keeper at once!
        </p>
        <p><a class="btn btn-success" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>See all of our pets</h2>
        <p>As soon as the shop keeper arrives, he or she will carry you in to the pack of the store to show you all of the on-site pets.</p>
        <p><a class="btn btn-primary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Adopt a new friend</h2>
        <p>After you choose which pet you'd like to adopt, you will need to hand over the piece of paper that contorls your live forever.</p>
        <p><a class="btn btn-warning" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Leave the store</h2>
        <p>After the transaction, please enjoy your time leaving the store.  Make sure not to break or steal anything or you'll lose your pet and your life.</p>
        <p><a class="btn btn-danger" href="#">Learn more &raquo;</a></p>
    </div>
</div>