
@{
    ViewBag.Title = "Inventory";
}

<h2>Pet Inventory </h2>

<table>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
    </tr>

    

</table>

<p>I give up. </p>

