
@{
    ViewBag.Title = "Inventory";
}

<h2>Pet Inventory </h2>

<table>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
    </tr>

    <tr>
        <td><img src="http://thedogwallpaper.com/wp-content/uploads/2013/12/funny-pictures-of-chihuahua-dogs-65-150x150.jpg"/></td>
        <td>Spot</td>
        <td>This dog is nice.</td>
    </tr>
    

</table>

<p>I give up. </p>

