
@{
    ViewBag.Title = "Inventory";
}

<h2>Pet Inventory </h2>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date Received</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    

</table>

<p>Nah, I give up. </p>

